.DiceContainer {
  .inner-container {
    * {
      font-size: 1.2em;
    }
    .row {
      display: flex;
    }

    button {
      text-align: center;
      flex: 1;
      color: #fff;
      background-color: #000;
      border: 2px solid var(--dark-gray);
      &:hover {
        filter: invert(0.8);
      }
      &:focus {
        box-shadow: none;
      }
    }
    input {
      width: 70px;
      margin-left: 10px;
      text-align: center;
    }
  }
}

