.BackstoryRow{
    .Backstory{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header";

        .header{
            grid-area: header;
        }

        h3{
            text-align: center;
        }

        textarea{
            appearance: none;
            border: 1px solid var(--light-gray);
            background-color: var(--opaque-white);
            resize: none;
            width: 100%;
            height: 250px;
            font-size: 1.2em;
            padding: 5px;
            display: block;
        }
    }
}