.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 30px;
  pointer-events: none;

  .inner-container {
    pointer-events: none;
    display: flex;
    position: relative;
    & > * {
      pointer-events: all;
    }

    img {
      height: 80px;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;

    .OpenableContainer {
      margin-top: 10px;
    }

    @media (max-width: 1450px) {
      flex-direction: row;

      .OpenableContainer {
        margin-right: 10px;
      }
    }
  }
}
