@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: auto;
  padding: 0;
  width: 1200px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IM Fell English SC", "Times New Roman", serif;
}

input {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

input[type=text] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  background: none;
}

input[type=number] {
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #ccc;
}

input[type=checkbox] {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}

.triplevalues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.triplevalues > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
  padding: 3px;
}

.triplevalues > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.triplevalues > div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.triplevalues > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triplevalues > div div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.triplevalues > div:not(.values) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triplevalues > div:not(.values) input {
  width: 100%;
}

.triplevalues .values > input {
  font-size: 1.3rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.row:last-child {
  margin-bottom: 0;
}

.column {
  border: 2px solid #aaa;
}

.clicked {
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
}

.rotate {
  text-decoration: underline;
  position: absolute;
  width: 100px;
  top: 40%;
  left: -120%;
}

.rotateleft {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.rotateright {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.grayback {
  background-color: #ccc;
}

.tableback {
  background-color: #fff;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.hasborderright {
  border-right: 3px solid #ccc;
}

.hasborderleft {
  border-left: 3px solid #ccc;
}

#page1, #page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding: 20px;
  border: 10px solid #aaa;
}

textarea {
  width: 90%;
  resize: none;
  font-size: 1.5rem;
}

h1, h2, h3, h4 {
  text-align: center;
}

header {
  z-index: 2;
  background-color: #aaa;
  width: 100%;
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header > * {
  margin: auto 0;
}

header input {
  height: 80%;
  width: 300px;
  border: none !important;
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.3) !important;
  margin-right: 3px;
}

header button {
  width: 150px;
  height: 80%;
  font-size: 1.5rem;
}

main {
  width: 1200px;
}

#page1 {
  margin-top: 70px;
}

#page1 #hitpoints td > div > div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#page1 #numbervalues {
  border: 4px solid #ccc;
}

#page1 #numbervalues div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page1 #numbervalues div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
}

#page1 #numbervalues .clickable {
  cursor: pointer;
}

#page1 #numbervalues .clickablenumbers > td > div {
  cursor: pointer;
}

#page1 #numbervalues input[type=number] {
  background-color: #fff;
  border: 2px solid #aaa;
  margin-right: 5px;
  width: 50px;
}

#page1 #charinfo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#page1 #charinfo tr > td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

#page1 #charinfo tr > td > div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #charinfo tr:first-child {
  background-color: #111;
  color: rgba(255, 255, 255, 0.3);
}

#page1 #characteristics {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 0 4px;
}

#page1 #picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

#page1 #investigatorskills input[type=text] {
  font-size: 1.2rem;
}

#page1 #investigatorskills .triplevalues > *:nth-child(2) {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#page1 #investigatorskills .triplevalues > *:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#page1 #combatinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#page1 #combatinfo input {
  width: 100%;
  height: 100%;
  text-align: center;
}

#page1 #combatinfo td {
  padding: 0 5px 5px 5px;
}

#page1 #combatinfo #weapons {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-right: 3px;
}

#page1 #combatinfo #weapons tr {
  height: 30px;
}

#page1 #combatinfo #combat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #combatinfo #combat tr:first-child {
  border-bottom: 5px solid rgba(255, 255, 255, 0.3);
}

#page1 #combatinfo #combat tr:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#page1 #combatinfo #combat tr:nth-child(4) div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #combatinfo #combat tr:nth-child(4) div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page1 #combatinfo #combat input[type=number] {
  font-size: 1.5rem;
}

#page2 #gear {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin-right: 3px;
}

#page2 #gear td {
  padding: 5px;
}

#page2 #gear input {
  width: 100%;
  height: 30px;
}

#page2 #cash {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#page2 #cash td {
  padding: 5px;
}

#page2 #cash div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 #cash div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
}

#page2 #rules {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 3px;
}

#page2 #rules td {
  padding: 5px;
}

#page2 #rules #levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 #rules #levels div:not(:first-child) {
  border: 1px solid black;
  padding: 3px;
}

#page2 #rules #levels div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page2 #rules #levels div:first-child > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
}

#page2 #fellowinvestigators {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#page2 #fellowinvestigators input {
  margin-bottom: 15px;
}

#page2 #fellowinvestigators td {
  padding: 5px;
}

#page2 #fellowinvestigators td div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 #fellowinvestigators td div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=main.css.map */