@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
.hasborderright {
  border-right: 3px solid #ccc;
}

.hasborderleft {
  border-left: 3px solid #ccc;
}

.rotateleft {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.rotateright {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.grayback {
  background-color: #ccc;
}

.tableback {
  background-color: #fff;
}

.clicked {
  font-weight: bold;
  background: #333;
  border-radius: 50%;
  color: #fff;
}

.rotate {
  text-decoration: underline;
  position: absolute;
  width: 100px;
  top: 40%;
  left: -120%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  background: url("paper_dark.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  margin: auto;
  padding: 0;
  text-align: center;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IM Fell English SC", "Times New Roman", serif;
}

input {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

input[type=text]:not(#dmgbonus) {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  background: none;
}

input[type=number], #dmgbonus {
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #ccc;
}

input[type=checkbox] {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

textarea {
  width: 90%;
  resize: none;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
}

h1, h2, h3, h4 {
  text-align: center;
}

#loadingscreen {
  background-color: #111;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  z-index: 4;
}

#loadingscreen h1 {
  -webkit-animation: loadingPump infinite alternate 1s;
          animation: loadingPump infinite alternate 1s;
  opacity: 1;
}

#notification {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#notification #notificationBox {
  width: 400px;
  background: url("./paper_small.jpg");
  border: 5px solid #888;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#notification #notificationBox > * {
  max-width: 400px;
}

#notification #notificationBox > *:first-child {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-bottom: 10px;
}

#notification #notificationBox > *:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notification #notificationBox > *:last-child button {
  width: 100px;
  margin: auto;
  font-size: 1.2rem;
}

#notification #notificationBox #notificationcontent {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #888;
  font-size: 1.2rem;
  padding: 15px;
}

.triplevalues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.triplevalues > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
  padding: 3px;
}

.triplevalues > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.triplevalues > div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.triplevalues > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triplevalues > div div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.triplevalues > div:not(.values) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triplevalues > div:not(.values) input {
  width: 100%;
}

.triplevalues .values > input {
  font-size: 1.3rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.row:last-child {
  margin-bottom: 0;
}

.column {
  border: 2px solid #aaa;
}

header {
  z-index: 3;
  background-color: #888;
  width: 100%;
  min-width: 1200px;
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
}

header > * {
  margin: auto 0;
}

header input {
  height: 80%;
  width: 300px;
  border: none !important;
  font-size: 1.7rem;
  background: url("./paper_small.jpg") !important;
  margin-right: 3px;
}

header button {
  min-width: 150px;
  padding: 0 10px;
  height: 80%;
  font-size: 1.5rem;
}

header button:first-child {
  position: absolute;
  left: 5px;
  top: 5px;
}

main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

#page1, #page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding: 20px;
  border: 10px solid #aaa;
}

#page1 #hitpoints td > div > div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#page1 #hitpoints #unconscious {
  margin-right: 5px;
}

#page1 #numbervalues {
  border: 4px solid #ccc;
}

#page1 #numbervalues > tbody > tr:first-child div p, #page1 #numbervalues > tbody > tr:nth-child(3) div p {
  padding: 3px 3px 0 0;
}

#page1 #numbervalues div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page1 #numbervalues div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
}

#page1 #numbervalues .clickable {
  cursor: pointer;
}

#page1 #numbervalues .clickablenumbers > td > div {
  cursor: pointer;
}

#page1 #numbervalues input[type=number] {
  background-color: #fff;
  border: 2px solid #aaa;
  margin-right: 5px;
  width: 50px;
}

#page1 #numbervalues h1 {
  padding: 5px 0;
}

#page1 #charinfo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#page1 #charinfo tr > td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

#page1 #charinfo tr > td > div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #charinfo tr:first-child {
  background-color: #111;
  color: #fff;
}

#page1 #characteristics {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 0 4px;
}

#page1 #characteristics tr > td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

#page1 #characteristics tr > td > div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #characteristics #move {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 48px;
  margin: 3px;
  border-radius: 50%;
  font-size: 1.5rem;
}

#page1 #characteristics #mainvalues {
  position: relative;
}

#page1 #characteristics #mainvalues h2 {
  margin-right: 10px;
}

#page1 #characteristics #mainvalues > button {
  padding: 0 5px;
  font-size: 1.1rem;
  position: absolute;
  right: 6px;
  top: 0;
  height: 32px;
}

#page1 #characteristics #mainvalues #infocontainer {
  position: absolute;
  background-color: #ccc;
  border: 2px solid #aaa;
  right: -246px;
  visibility: hidden;
  top: -7px;
  z-index: 2;
  width: 240px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 5px 0 5px;
}

#page1 #characteristics #mainvalues #infocontainer #infotext {
  border: 2px solid #aaa;
  background: url("paper_small.jpg");
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 1.3rem;
  padding: 10px;
}

#page1 #characteristics #mainvalues #infocontainer #infotext p {
  font-size: 1.0rem;
}

#page1 #characteristics #mainvalues #infocontainer #confirm {
  width: 100px;
  font-size: 1.2rem;
  margin: 3px;
}

#page1 #picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#page1 #picture input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

#page1 #investigatorskills input[type=text] {
  font-size: 1.2rem;
}

#page1 #investigatorskills .triplevalues > *:nth-child(2) {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#page1 #investigatorskills .triplevalues > *:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#page1 #combatinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#page1 #combatinfo input {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

#page1 #combatinfo td {
  padding: 0 5px 5px 5px;
}

#page1 #combatinfo #weapons {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-right: 3px;
}

#page1 #combatinfo #weapons tr {
  height: 30px;
}

#page1 #combatinfo #weapons input {
  font-size: 1.0rem;
}

#page1 #combatinfo #combat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #combatinfo #combat tr:first-child {
  border-bottom: 5px solid rgba(255, 255, 255, 0.3);
}

#page1 #combatinfo #combat tr:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#page1 #combatinfo #combat tr:nth-child(4) div > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page1 #combatinfo #combat tr:nth-child(4) div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page1 #combatinfo #combat input {
  font-size: 1.5rem !important;
}

#page2 #gear {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin-right: 3px;
}

#page2 #gear td {
  padding: 5px;
}

#page2 #gear input {
  width: 100%;
  height: 30px;
}

#page2 #cashandassets {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#page2 #cashandassets td {
  padding: 5px;
}

#page2 #cashandassets div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 #cashandassets div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
}

#page2 #rules {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 3px;
}

#page2 #rules td {
  padding: 5px;
}

#page2 #rules #levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 #rules #levels div:not(:first-child) {
  border: 1px solid black;
  padding: 3px;
}

#page2 #rules #levels div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page2 #rules #levels div:first-child > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
}

#page2 #fellowinvestigators {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background: url("tentacles.png");
  background-position: right 0 bottom -40px;
  background-repeat: no-repeat;
  background-size: contain;
}

#page2 #fellowinvestigators input {
  margin-bottom: 15px;
  font-size: 1.2rem !important;
}

#page2 #fellowinvestigators td {
  padding: 5px 15px;
}

#page2 #fellowinvestigators td > div {
  padding: 5px;
  border: 2px solid #aaa;
  background: url("./paper_small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#page2 #fellowinvestigators td div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page2 #fellowinvestigators td div > div > *:not(p) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page2 #fellowinvestigators td div > div p {
  padding-top: 5px;
}

#page2 #fellowinvestigators td .me {
  color: #fff;
  font-size: 2.4rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 1s;
  transition: left 1s;
  background-color: #888;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

footer.hidden {
  left: -200px;
}

footer #dice {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./paper_small.jpg");
}

footer #dice > div {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 41px;
}

footer #dice > div button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.3rem;
  padding: 0 10px;
}

footer #dice > div p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.3rem;
  padding-top: 3px;
}

footer #dice > div input {
  width: 40px;
  margin-left: 5px;
  font-size: 1.3rem;
}

footer #hidedice {
  cursor: pointer;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
}

footer #hidedice:hover {
  background-color: #666;
}

footer #hidedice p {
  font-size: 1.3rem;
}

#personalInterests {
  width: 200px;
  height: 80px;
  padding: 5px;
  background: url("./paper_small.jpg");
  border: 3px solid #888;
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#personalInterests > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#personalInterests input {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.7rem;
  color: #fff;
}

#personalInterests p:last-child {
  position: absolute;
  color: #fff;
  background-color: #222;
  padding: 0 2px;
  right: 2px;
  top: 2px;
  font-weight: bold;
  font-size: 0.9rem;
  border: 2px solid #aaa;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

#personalInterests p:last-child:hover {
  background-color: #999;
  color: #000;
}

@-webkit-keyframes loadingPump {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes loadingPump {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
/*# sourceMappingURL=main.css.map */