@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
$darkGray: #aaa;
$darkerGray: #888;
$tableHeader: #ccc;
$transparentWhite: rgba(255,255,255,0.3);
$paperSmall: url('./paper_small.jpg');
$mainFont: 'IM Fell English SC','Times New Roman', serif;

.hasborderright{
    border-right: 3px solid $tableHeader;
}
.hasborderleft{
    border-left: 3px solid $tableHeader;
}
.rotateleft{
    transform: rotate(-90deg);
}
.rotateright{
    transform: rotate(90deg);
}
.grayback{
    background-color: $tableHeader;
}
.tableback{
    background-color: #fff;
}
.clicked{
    font-weight: bold;
    background: #333;
    border-radius: 50%;
    color: #fff;
}
.rotate{
    text-decoration: underline;
    position: absolute;
    width: 100px;
    top: 40%;
    left: -120%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html{
    background: url('paper_dark.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body{
    margin: auto;
    padding: 0;
    text-align: center;
    position: relative;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $mainFont;
}
input{
    width: 100%;
    text-align: center;
    background-color: $transparentWhite;
}
input[type=text]:not(#dmgbonus){
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    background: none;
}
input[type=number], #dmgbonus{
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid $tableHeader;
}
input[type=checkbox]{
    min-width:20px;
    height: 20px;
    cursor: pointer;
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
textarea{
    width: 90%;
    resize: none;
    font-size: 1.5rem;
    background-color: $transparentWhite;
    padding: 5px;
}
h1,h2,h3,h4{
    text-align: center;
}
#loadingscreen{
    background-color: #111;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    top:0;
    left:0;
    z-index: 4;
    h1{
        animation: loadingPump infinite alternate 1s;
        opacity: 1;
    }
}
#notification{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #notificationBox{
        width: 400px;
        background: $paperSmall;
        border: 5px solid $darkerGray;
        padding: 10px;
        display: flex;
        align-self: center;
        flex-direction: column;
        &>*{
            max-width: 400px;
        }
        &>*:first-child{
            flex: 4;
            margin-bottom: 10px;
        }
        &>*:last-child{
            flex: 1;
            display: flex;
            button{
                width: 100px;
                margin:auto;
                font-size: 1.2rem;
            }
        }
        #notificationcontent{
            background-color: rgba(0,0,0,0.3);
            border: 2px solid $darkerGray;
            font-size: 1.2rem;
            padding: 15px;
        }
    }
}
.triplevalues{
    display: flex;
    padding: 5px;
    &>*{
        flex: 1;
        justify-self: center;
        margin: auto;
        padding: 3px;
    }
    &>div{
        display: flex;
        &>*{
            flex: 1;
        }
        div{
            display: flex;
            flex-direction: column;
            &>*{
                flex: 1;
            }
        }
    }
    &>div:not(.values){
        flex-direction: column;
        input{
            width: 100%;
        }
    }
    .values>input{
        font-size: 1.3rem;
    }
}
.row{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    //border: 2px solid black;
}
.row:last-child{
    margin-bottom: 0;
}
.column{  
    border: 2px solid $darkGray;
}
header{
    z-index: 3;
    background-color: $darkerGray;
    width: 100%;
    min-width: 1200px;
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;

    &>*{
        margin:auto 0;
    }
    input{
        height: 80%;
        width: 300px;
        border: none !important;
        font-size: 1.7rem;
        background: $paperSmall !important;
        margin-right: 3px;
    }
    button{
        min-width: 150px;
        padding: 0 10px;
        height: 80%;
        font-size: 1.5rem;
    }
    button:first-child{
        position: absolute;
        left: 5px;
        top: 5px;
    }
}
main{
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding-top: 70px;
}
#page1, #page2{
    display: flex;
    flex-direction: column;
    background-image: url("paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    padding: 20px;
    border: 10px solid $darkGray;
}
#page1{
    #hitpoints{
        td>div>div{
            justify-content: flex-end;
            width: 100%;
        }
        #unconscious{
            margin-right: 5px;
        }
    }
    #numbervalues{
        border: 4px solid $tableHeader;
        &>tbody>tr:first-child div p, &>tbody>tr:nth-child(3) div p{
            padding: 3px 3px 0 0;
        }
        div{
            display: flex;
            justify-content: center;
            input{
                flex:1;
                margin:auto;
            }
        }
        .clickable{
            cursor: pointer;
        }
        .clickablenumbers>td>div{
            cursor: pointer;
        }
        input[type=number]{
            background-color: #fff;
            border: 2px solid $darkGray;
            margin-right: 5px;
            width: 50px;
        }
        h1{
            padding: 5px 0;
        }
    }
    #charinfo{
        flex: 2; 
        tr>td>div{
            display: flex;
            padding: 5px;
            &>*{
                flex: 1;
            }
        }  
        tr:first-child{
            background-color: #111;
            color: #fff;
        }   
    }
    #characteristics{
        flex: 3;
        margin: 0 4px;
        tr>td>div{
            display: flex;
            padding: 5px;
            &>*{
                flex:1;
            }
        }
        #move{
            flex: 1;
            height: 48px;
            margin: 3px;
            border-radius: 50%;
            font-size: 1.5rem;
        }
        #mainvalues{
            position: relative;
            h2{
                margin-right: 10px;
            }
            &>button{
                padding: 0 5px;
                font-size: 1.1rem;
                position: absolute;
                right: 6px;
                top: 0;
                height: 32px;
            }
            #infocontainer{
                position: absolute;
                background-color: $tableHeader;
                border: 2px solid $darkGray;
                right: -246px;
                visibility: hidden;
                top: -7px;
                z-index: 2;
                width: 240px;
                min-height: 100px;
                display: flex;
                flex-direction: column;
                padding: 5px 5px 0 5px;
                #infotext{
                    border: 2px solid $darkGray;
                    background: url('paper_small.jpg');
                    flex: 4;
                    font-size: 1.3rem;
                    padding: 10px;
                    p{
                        font-size: 1.0rem;
                    }
                }
                #confirm{
                    width: 100px;
                    font-size: 1.2rem;
                    margin: 3px;
                }
            }
        }
    }
    #picture{
        flex: 1;
        background-color: $transparentWhite;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        input{
            position: absolute;
            bottom: 0;
            left:0;
            width: 100%;
            background-color: #fff;
        }
    }
    #investigatorskills{
        input[type=text]{
            font-size: 1.2rem;
        }
        .triplevalues{
            &>*:nth-child(2){
                flex: 3;
            }
            &>*:nth-child(3){
                flex: 2;
            }
        }
    }
    #combatinfo{
        display: flex;
        flex: 1;
        text-align: center;
        input{
            width: 100%;
            height: 100%;
            text-align: center;
            background: none;
            border-bottom: 1px solid black;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        td{           
            padding: 0 5px 5px 5px;
        }
        #weapons{
            flex: 5;
            margin-right: 3px;
            tr{
                height: 30px;
            }
            input{
                font-size: 1.0rem;
            }
        }
        #combat{
            flex: 1;
            tr:first-child{
                border-bottom: 5px solid $transparentWhite;
            }
            tr:nth-child(4) div{
                display: flex;
                height: 100%;
                &>*{
                    flex:1;
                }
                div{
                    display: flex;
                    flex-direction: column;
                }
            }
            input{
                font-size: 1.5rem !important;
            }
        }
    }
}
#page2{
    #gear{
        flex:6;
        margin-right: 3px;
        td{
            padding: 5px;
        }
        input{
            width: 100%;
            height: 30px;
        }
    }
    #cashandassets{
        flex:4;
        td{
            padding: 5px;
        }
        div{
            display: flex;
            input{
                flex: 1;
                height: 30px;
            }
        }
    }
    #rules{
        flex:2;
        margin-right: 3px;
        td{
            padding: 5px;
        }
        #levels{
            display: flex;
            div:not(:first-child){
                border: 1px solid black;
                padding: 3px;
            }
            div:first-child{
                display: flex;
                justify-content: center;
                &>*{
                    flex: 1;
                    margin: auto;
                }
            }
        }
    }
    #fellowinvestigators{
        flex: 3;
        background: url('tentacles.png');
        background-position: right 0 bottom -40px;
        background-repeat: no-repeat;
        background-size: contain;
        input{
            margin-bottom:15px;
            font-size: 1.2rem !important;
        }
        td{
            padding: 5px 15px;
            &>div{
                padding: 5px;
                border: 2px solid $darkGray;
                background: $paperSmall;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            div>div{
                display: flex;
                &>*:not(p){
                    flex:1;
                }
                p{
                    padding-top: 5px;
                }
            }
            .me{
                color: #fff;
                font-size: 2.4rem;
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 240px;
    display: flex;
    transition: left 1s;
    background-color: $darkerGray;
    border-top: 3px solid $tableHeader;
    border-bottom: 3px solid $tableHeader;
    &.hidden{
        left: -200px
    }
    #dice{
        flex: 1;
        background-image: $paperSmall;
        &>div{
            padding: 5px;
            display: flex;
            min-height: 41px;
            button{
                flex: 1;
                font-size: 1.3rem;
                padding: 0 10px;
            }
            p{
                flex: 1;
                font-size: 1.3rem;
                padding-top: 3px;
            }
            input{
                width: 40px;
                margin-left: 5px;
                font-size: 1.3rem;
            }
        }
    }
    #hidedice{
        cursor: pointer;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: background-color 0.5s;
        border-left: 3px solid $tableHeader;
        border-right: 3px solid $tableHeader;
        &:hover{
            background-color: #666;
        }
        p{
            font-size: 1.3rem;
        }
    }
}
#personalInterests{
    width: 200px;
    height: 80px;
    padding: 5px;
    background: $paperSmall;
    border: 3px solid $darkerGray;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    &>*{
        flex: 1;
    }
    input{
        background-color: rgba(0,0,0,0.8);
        font-size: 2.7rem;
        color: #fff;
    }
    p:last-child{
        position: absolute;
        color: #fff;
        background-color: #222;
        padding: 0 2px;
        right: 2px;
        top: 2px;
        font-weight: bold;
        font-size: 0.9rem;
        border: 2px solid $darkGray;
        transition: background-color 0.5s, color 0.5s;
        cursor: pointer;
        &:hover{
            background-color: #999;
            color: #000;
        }
    }
}

@keyframes loadingPump{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.4;
    }
}