.InvestigatorSkillRow {
  .InvestigatorSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header";
    
    .header {
      grid-area: header;
    }
  }
}
