.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  padding: 30px;

  .dice-container {
    position: relative;
    &:focus-within {
      .dice-rolls {
        display: flex;
        flex-direction: column;
      }
      .open-button {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }

    .dice-rolls {
      display: none;
      width: 100%;
      background-image: url(../../assets/images/paper_small.jpg);
      border: 2px solid var(--dark-gray);
      padding: 10px;
      box-shadow: 0 0 5px black;

      &>*:not(:last-child){
          margin-bottom: 10px;
      }

      * {
        font-size: 1.2em;
      }

      .row{
          display: flex;
      }

      button {
          text-align: center;
          flex: 1;
          color: #FFF;
          background-color: #000;
          border: 2px solid var(--dark-gray);
          &:hover{
              filter: invert(0.8);
          }
          &:focus{
              box-shadow: none;
          }
      }
      input{
          width: 70px;
          margin-left: 10px;
          text-align: center;
      }
    }
  }

  .open-button {
    padding: 0;
    display: block;
    appearance: none;
    border: 0;
    height: 80px;
    background: none;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  img {
    height: 80px;
  }
}
