@import "./constants/styles/base.scss";

body{
  background-image: url(./assets/images/paper_dark.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.App {
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  &>*{
    margin: 0 auto;
  }

  &>*:not(:last-child){
    margin-bottom: 30px;
  }
}

@media(max-width: 1330px){
  body{
    overflow-x: hidden;
  }
  .App{
    transform-origin: top left;
  }
}