.SecondaryAttributesRow {
  background-color: var(--header-bg);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "secondary-header secondary-header secondary-header empty"
    "hp-attributes sanity-attributes sanity-attributes sanity-attributes"
    "hp-attributes title title mp-header"
    "luck-attributes luck-attributes luck-attributes mp-attributes"
    "luck-attributes luck-attributes luck-attributes mp-attributes";
  gap: 3px;
  padding: 3px;

  div {
    min-height: 30px;
  }

  .title {
    grid-area: title;
    display: flex;
    h1{
      margin-left: 25%;
    }
  }

  input[type="number"] {
    background-color: var(--opaque-white);
    text-align: center;
    width: 74px;
    height: 26px;
    font-size: 1em;
    border: 2px solid var(--dark-gray);
  }

  table {
    border-spacing: 0;
  }

  h4{
    text-decoration: underline;
  }
}
