.Weapons{
    flex: 1;
    .weapon-container{
        flex: 1;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;

        input{
            font-size: 0.95em;
        }
    }
}