.SanityAttributes{  
    grid-area: sanity-attributes;
    margin-top: -32px;
    display: flex;

    table{
        width: 100%;

        tbody{
            display: flex;
            flex-direction: column;
        }

        tr:first-child{
            margin-left: auto;
        }

        tr{
            display: flex;
            background-color: rgba(255, 255, 255, 0.6);
            height: 32px;
            td{
                flex: 1;
                margin: auto;
                button{
                    width: 100%;
                }
            }
        }


    }
    .title-container{
        background-color: rgba(255, 255, 255, 0.6);
        width: 22px;
        position: relative;
        h4{
            transform: rotate(90deg) translate(-50%, 60%);
            transform-origin: bottom left;
            position: absolute;
            left: 50%;
            bottom: 50%;
        }
    }
}