.SecondaryHeader{
    grid-area: secondary-header;
    display: flex;
    height: 18px;

    .column{
        display: flex;
        &>*{
            margin: auto;
        }

        span{
            margin-right: 5px;
        }
    }


    &>*:not(:last-child){
        margin-right: 15px;
    }
}