.App{
    padding: 0;
    height: 100vh;
}

.HostPage{
    margin: 0;
    background: none;
    height: 100vh;
}

.HostView{
    display: flex;
    flex-direction: column;
    height: 100%;

    .room-info-container {
        background-color: var(--header-bg);
        padding: 10px;
        box-shadow: 0 0 10px #000;
        z-index: 2;
        span{
            margin: 0 10px;
            font-size: 1.2em;
        }
    }

    .player-card-container{
        display: flex;
        justify-content: center;
        padding: 0 30px;
        flex-wrap: wrap;
        margin: 0 auto;
        flex: 1;
        overflow-y: auto;
    }
}