.BackstoryRow{
    .Backstory{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header";

        .header{
            grid-area: header;
        }

        h3{
            text-align: center;
        }
    }
}